html {
  font-size: 62.5%;
  background-color: #EFEFEF;
  min-width: 320px;
}

header {
  background-color: #2B2B2B;
  color: #ffffff;
  padding: 1rem;
}

header a {
  display: block;
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-size: 2.5rem;
}

a img {
  width: 3rem;
  vertical-align: middle;
  margin: 0 0.5rem 0 1.5rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 1.5rem 0;
}

.main-logo {
  height: 10rem;
  margin: 2rem auto;
  display: block;
}

h1 {
  margin: 2rem 0 2rem 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

article {
  background-color: #fff;
  width: 32rem;
  height: 40rem;
  margin: 2rem auto;
  box-shadow: 5px 5px 5px grey;
}

h2,
h3,
p {
  padding: 0 0 0 1rem;
}


p {
  font-size: 3rem;
}

.contributions span {
  text-align: left;
  color: orange;
}

div {
  height: 15rem;
}

input[type=image] {
  padding: 1rem;
}

div p {
  display: inline-block;
  float: right;
  margin: 0.5rem 1rem;
  color: orange;
  font-weight: 800;
  text-shadow: 1px 1px black;
}

p span {
  display: block;
  text-align: center;
}

.portfolio {
  font-size: 1.6rem;
  overflow-wrap: break-word;
  color: blue;
  background-color: #FF9F4A;
  margin: 1rem;
  padding:  1rem;
}

.portfolio a {
  text-decoration: none;
}

.euler {
  background: url("../images/euler.jpg");
  background-size: 100%;
}

.gauss {
  background: url("../images/gauss.jpeg");
  background-size: 100%;
  background-position: 0 28%;
}

.leibniz {
  background: url("../images/leibniz.jpeg");
  background-size: 100%;
  background-position: 0 22%;
}

.descartes {
  background: url("../images/descartes.jpeg");
  background-size: 100%;
  background-position: 0 10%;
}

.riemann {
  background: url("../images/riemann.jpg");
  background-size: 100%;
  background-position: 0 10%;
}

.turing {
  background: url("../images/turing.jpg");
  background-size: 100%;
  background-position: 0 18%;
}

.fermat {
  background: url("../images/fermat.jpg");
  background-size: 100%;
  background-position: 0 30%;
}

.fibonacci {
  background: url("../images/fibonacci.jpeg");
  background-size: 100%;
  background-position: 0 25.2%;
}

@media screen and (min-width: 665px){
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  article {
    margin: 1rem;
  }

  header {
    height: 13rem
  }

  ul {
    position: relative;
    top: 10rem;
  }
  a img {
    height: 2rem
  }
  
  header a {
    font-size: 1.5rem;
    display: inline;
  }

  .login-link {
    float: right;
  }

  li {
    display: inline;
  }

  .main-logo {
    float: right;
    clear: right;
    margin: 1rem 3rem 0 0;
    width: 14.5rem;
  }
}
